In [14]:
import sqlite3
con = sqlite3.connect("GigaBase.db")

cur = con.cursor()

In [15]:
cur = con.cursor()

In [18]:
cur.execute("""CREATE TABLE profiles (
    id INTEGER PRIMARY KEY AUTOINCREMENT, 
    username TEXT NOT NULL,              
    wins INTEGER DEFAULT 0,              
    draws INTEGER DEFAULT 0,  
    losses INTEGER DEFAULT 0,               
    tg_id TEXT UNIQUE                      
)
CREATE TABLE games (
    id INTEGER PRIMARY KEY AUTOINCREMENT,  
    player1 INTEGER NOT NULL,        
    status TEXT NOT NULL,                
    description TEXT,                
    fen TEXT NOT NULL,                
    FOREIGN KEY (player1) REFERENCES profiles(id) 
)


PRAGMA foreign_keys = ON; 
""")

OperationalError: near "CREATE": syntax error

In [21]:
cur.execute("""
CREATE TABLE IF NOT EXISTS profiles (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    username TEXT NOT NULL,
    wins INTEGER DEFAULT 0,
    draws INTEGER DEFAULT 0,
    losses INTEGER DEFAULT 0,
    tg_id TEXT UNIQUE
);
""")

# Создание таблицы игр
cur.execute("""
CREATE TABLE IF NOT EXISTS games (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    player1 INTEGER NOT NULL,
    status TEXT NOT NULL,
    description TEXT,
    fen TEXT NOT NULL,
    FOREIGN KEY (player1) REFERENCES profiles(id)
);
""")

In [17]:
cur.execute("""CREATE TABLE IF NOT EXISTS profile(
user_name TEXT,
 win INTEGER,
 lose INTEGER,
 draw INTEGER,
 tg_id INTEGER)""")

In [5]:
cur.execute('''
SELECT title, year FROM movie WHERE year > 2010
     
''')
rows = cur.fetchall()
print(rows)

[('Muana', 2020), ('bad breaking', 2015)]

In [6]:
cur.execute("""
UPDATE movie
SET YEAR = 2005, SCORE = 10
WHERE TITLE = 'Wolf by the woll strit'


""")
con.commit()

In [7]:
cur.execute("""
delete from movie
where title = "Monty Python and the Holy Grail" 
""")

In [13]:
con.close()